.loader-container {
    background-color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}


/* From Uiverse.io by Yaya12085 */ 
.loader {
  display: flex;
  align-items: center;
  transform: scale(1.3);
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  animation: spin 1s linear infinite;
  stroke: rgb(92, 92, 92);
}

.loading-text {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  color: rgb(92, 92, 92);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}